body{

font-family: Arial, sans-serif;
margin:0;
background:#f8f9fa;

}


.sidebar{

position:fixed;
width:220px;
height:100vh;
padding:20px;

}


.profile-img{

width:80px;
height:80px;
border-radius:50%;
object-fit:cover;
border:3px solid white;

}


.main-content{

margin-left:220px;

}


section{

min-height:100vh;
padding:80px;

}


.banner{

background:url('../image/bac.png');
background-size:cover;
background-position:center;

display:flex;
align-items:center;

}


.hero{

display:flex;
align-items:center;
justify-content:space-between;

}


.hero-title{

color:white;
font-size:48px;
font-weight:bold;

}


.hero-role{

color:white;
font-size:22px;

}


.hero-stack{

color:white;
font-size:18px;

}


.hero-img{

width:200px;
height:200px;
border-radius:50%;
border:5px solid white;
object-fit:cover;

}


.stack-list{

list-style:none;
padding:0;

display:flex;
gap:20px;
flex-wrap:wrap;

}


.stack-list li{

background:#198754;
color:white;

padding:8px 14px;

border-radius:5px;

}


.project{

margin-top:30px;

}


.nav-link{

padding-left:30px;
font-size:16px;

}


h2{

font-weight:700;
margin-bottom:30px;

}

/* PROJECT SECTION */

#projects{
padding:80px;
}

.project-card{

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 4px 15px rgba(0,0,0,0.08);

transition:all 0.3s ease;

}

.project-card:hover{

transform:translateY(-5px);

box-shadow:0 8px 20px rgba(0,0,0,0.12);

}

.project-links{

margin-bottom:10px;

}

.project-links a{

text-decoration:none;

color:#198754;

font-weight:600;

margin-right:10px;

}

.project-links a:hover{

text-decoration:underline;

}

.project-card ul{

padding-left:20px;

}

.project-card li{

margin-bottom:8px;

}

.nav-link.active{

color:#ffc107 !important;

background:rgba(255,255,255,0.15);

border-radius:6px;

font-weight:600;

}

/* Education SECTION */

.edu-card{

background:white;

padding:25px;

border-radius:8px;

box-shadow:0 3px 10px rgba(0,0,0,0.08);

}

.edu-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:6px;

}

.edu-date{

font-weight:600;

color:#198754;

}

.edu-inst{

margin:0;

color:#555;

}

html{
scroll-behavior:smooth;
}
